# Cache files
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROOT and slcio files
*.root
*.slcio

# Plots
*.pdf
*.png
*.eps
*.ps
*.gif
*.jpeg

# Generation folders
generation/run_scripts/TB2022-06/logs/
generation/run_scripts/TB2022-06/macros/
generation/run_scripts/TB2022-06/data/
generation/run_scripts/TB2022-06/steer/
generation/run_scripts/TB2022-06/data/

# Processing folders
processors/ECAL/submit_jobs/LCIO2build_folder/

# Plots folders
analysis/ECAL_Sim/plots_Jan/
