# Cache files
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROOT and slcio files
*.root
*.slcio

# Plots
*.pdf
*.png
*.eps
*.ps
*.gif
*.jpeg

# Logs
*.log
*nohup*

# Python compiling
*.pyc
*_C.d
*_C.so
*.pcm


# Generation folders
generation/run_scripts/TB2022-06/log/
generation/run_scripts/TB2022-06/macros/
generation/run_scripts/TB2022-06/data/
generation/run_scripts/TB2022-06/steer/
generation/run_scripts/TB2022-06/data/

generation/run_scripts/TB2022-06_ECAL_encoding/log/
generation/run_scripts/TB2022-06_ECAL_encoding/macros/
generation/run_scripts/TB2022-06_ECAL_encoding/data/
generation/run_scripts/TB2022-06_ECAL_encoding/steer/


# Processing folders
processors/ECAL/submit_jobs/LCIO2build_folder/

# Plots folders
analysis/ECAL_Sim/plots_Jan/

# Res Mol Lin Var studies
analysis/ECAL_Sim/ShowerStudy/results_*/
analysis/ECAL_Sim/ShowerStudy/test_folder/
analysis/ECAL_Sim/ShowerStudy/plots*/

# ML outputs
analysis/ECAL_Sim/ML4PID/PSOforECALPID/output
analysis/ECAL_Sim/ML4PID/PSOforECALPID/logs
analysis/ECAL_Sim/ML4PID/PSOforECALPID/SAVELOGS

analysis/ECAL_Sim/ML4PID/PSOforECALPID_4cat/output
analysis/ECAL_Sim/ML4PID/PSOforECALPID_4cat/logs
analysis/ECAL_Sim/ML4PID/PSOforECALPID_4cat/SAVELOGS
